body {
  text-align: center;
  background-color: #3ECA3B;
}

ul {
  width: 250px;
  margin: 20px auto;
  text-align: left;
  list-style-type: none;
  /*border: 2px solid black;*/
  padding: 0, auto;
}